extends layoutalt

block nav
  h1= title
  a(href="/") HOME 
  p Different Types of #{title}

block contentLeft
  p All you need to know about GEMS
  img(src="/img/gems.jpg", alt="Gemstones")
  p A gemstone is a piece of mineral crystal which, in cut and polished form, is used to make jewelry or other adornments. However, certain rocks and occasionally organic materials that are not minerals are also used for jewelry and are therefore often considered to be gemstones as well.
