extends layout

block nav
  h1= title
  p Different Shades of #{title}

block contentLeft
  p What next Aarai?

block contentRight
  p Should we be using SASS or is <code>clean-css</code> something you chose on purpose?
