extends layout

block nav
  h1= title
  a(href="/gems") GEMS 
  p Different Shades of #{title}

block contentLeft
  p INFO ABOUT JADE

block contentRight
  p Jade, either of two tough, compact, typically green gemstones that take a high polish. Both minerals have been carved into jewelry, ornaments, small sculptures, and utilitarian objects from earliest recorded times. The more highly prized of the two jadestones is jadeite; the other is nephrite.
